:root {
  --primary: rgb(229, 175, 55);
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: #fff;
}

.mySlides {
  display: contents;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo { 
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-search{
  width: max-content;
  display: flex;
  padding: 8px 16px;
  border-radius: 40px;
  align-items: center;
  background: transparent;
}

.navbar-search.active{
  width: max-content;
  display: flex;
  padding: 8px 16px;
  border-radius: 40px;
  align-items: center;
  background: transparent;
  box-shadow: 1px 1px 7px 1px var(--primary);
}

#search{
  height: 25px;
  font-size: 20px;
  color: white;
}

#search :hover{
  color: var(--primary);
  transition-duration: 0.2s;
}

.navbar-search .search-input{
  font-size: 1.3rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  margin-left: 14px;
  flex: 1;
}

.navbar .navbar-hamburger a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-hamburger a:hover {
  color: var(--primary);
  transition-duration: 0.2s;
}

#hamburger-menu {
  display: none;
}

.navbar .avatar{
  width: 40px;
  height: 40px;
  border-radius: 80%;
  cursor: pointer;
  margin-right: 50px;
}

.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.active{
  max-height: 400px;
  background: transparent;
}

.sub-menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info h2{
  font-size: x-large;
  color: #000;
}

.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p{
  width: 100%;
  font-size: medium;
}

.sub-menu-link img{
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}

/* Slideshow container */
.slideshow-container {
  padding-top: 8rem;
  max-width: 75%;
  position: relative;
  margin: auto;
}

/* About Section */
.about img {
  border-radius: 15%;
  width: 175px;
  height: 175px;
}

.about, .menu, .model, .contact {
  padding: 4rem 7% 1rem;
}

.about h2, .menu h2, .model h2, .contact h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about h2 span, .menu h2 span, .model h2 span, .contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  border-radius: 20%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

/* Menu Section */
.menu-card img {
  height: 250px;
  width: 250px;
}

.menu h2, .model h2, .contact h2 {
  text-align: left;
}

.menu p, .model p, .contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.model .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: left;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.menu .row .menu-card img {
  width: 100%;
  padding-right: 3rem;
  margin-top: 2rem;
}

/* Model Section */
.model-card img {
  height: 300px;
}

.model .row .model-card {
  padding-bottom: 4rem;
  margin: 2rem ;
}

.model .row .model-card img {
  width: 150px;
  height: 150px;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover, footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
} 

footer .links {
  margin-bottom: 1.4rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(148, 132, 132, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
      font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
      font-size: 62.5%;
  }

  #hamburger-menu {
      display: inline-block;
  }

  .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
  }

  .navbar .navbar-nav.active {
      right: 0;
  }

  .navbar .navbar-nav a {
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
      transform-origin: 0 0;
  }
  
  .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
  }


  .about .row {
      flex-wrap: wrap;
  }

  .about .row .about-img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
  }

  .about .row .content {
      padding: 0;
  }

  .about .row .content h3 {
      font-size: 1.6rem;
  }


  .menu p {
      font-size: 1.2rem;
  }

  .contact .row {
      flex-wrap: wrap;
  }

  .contact .row .map {
      height: 30rem;
  }

  .contact .row form {
      padding-top: 0;
  }
}

/* Hp */
@media (max-width: 450px) {
  html {
      font-size: 55%;
  }
}
